# Ignore everything by default
*

# Allow specific files to be sent to the docker daemon context
!bin
!examples
!lib
!spec
!.rspec
!.rubocop.yml
!.ruby-version
!Gemfile
!Gemfile.lock
!LICENSE.txt
!Rakefile
!README.md
!ruby_http2.gemspec
